body {
  background-color: rgb(110, 19, 137);
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0px 0 40px;
  font-size: 50px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

h2 {
  text-align: center;
  margin: 40px 0 40px;
  font-size: 24px;
  color: #38ffee;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

h3 {
  text-align: center;
  margin: 0px 0 40px;
  font-size: 50px;
  color: rgb(110, 19, 137);
  font-family: 'Cherry Swash', cursive;
}

p {
  text-align: center;
  margin: 40px 0 40px;
  font-size: 18px;
  color: #ecf0f1;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'Cherry Swash', cursive;
}

#principal {
  padding-top: 120px;
  width: 100%;
  display: grid;
  float: left;
  align-items: center;
  justify-content: center;
}

#especialidades {
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px #000000;
  background: rgb(126, 65, 145);
  width: 70%;
  text-align: center;
  margin: auto;
  border: 2px #000000;
  border-radius: 20px;
}

#cuadro {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  width: 95%;
  margin: auto;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.column {
  text-align: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

.column img {
  justify-content: center;
  display: flex;
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px 2px #000000;
}

#bloqueNoticia {
  width: 600px;
  margin: auto;
  padding: 30px;
  max-width: 80%;
  border: 5px solid rgb(0, 0, 0);
}

#bloqueNoticia a {
  text-decoration: none;
}

#bloqueNoticia img {
  max-width: 100%;
  box-shadow: 2px 2px 2px 2px #000000;
}

#flecha {
  max-height: 80px;
  display: flex;
  align-items: center;
  padding: 20px;
}

#imgIcono {
  position: fixed;
  margin: auto;
  margin-top: 130px;
  margin-left: 30px;
  padding: 0px;
}

/*------------------------------------------------------MENU------------------------------------------------*/

header {
  box-shadow: 1px 1px 5px #000000;
  background: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  margin-top: 0px;
}

#menu {
  width: 100%;
  margin: 0px;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: 'Cherry Swash', cursive;
  font-size: 25px;
  border: 15px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: rgb(110, 19, 137);
  text-decoration: none;
}

nav ul li:hover {
  background: rgb(180, 180, 180);
}

#logo {
  float: left;
  width: auto;
  height: auto;
}

#iconos {
  display: flex;
  padding: 45px;
  flex-grow: 1;
  width: 200px;
  height: 20px;
  float: right;
  padding: auto;
  align-items: center;
  max-width: min-content;
}

#iconos img {
  margin: 10px;
  border: 2px #000000;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #000000;
}

/*------------------------------------------------------FOOTER------------------------------------------------*/

footer {
  margin-bottom: 0;
  scroll-padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px 4px #000000;
  background: rgb(116, 32, 126);
  height: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  flex-grow: 1;
}

.footer-right {
  display: flex;
}

.footer-right img {
  margin-left: 10px;
  max-height: 50px;
}

footer p {
  margin: 0;
  font-size: smaller;
}

/*-----------------------------------------------------FORMULARIO-----------------------------------------------*/

#imgEnd {
  margin: auto;
  max-height: 50px;
  display: flex;
  align-items: center;
  padding: 50px;
}

form {
  background-color: #d672ad;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  margin: 10px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 800px;
  align-content: center;
}

input {
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
}

textarea {
  border: 1px solid black;
  border-radius: 8px 8px 8px 8px;
}

label {
  font-family: 'Cherry Swash', cursive;
  font-size: medium;
}

button {
  font-size: medium;
  background-color: #58db37;
  width: min-content;
  font-family: 'Cherry Swash', cursive;
  border-radius: 20px;
}

#errores {
  border: 1px solid red;
  padding: 2px;
  display: none;
}

#errores p {
  color: red;
  font-size: small
}

.error {
  border: 1px solid red;
}

#mensajes {
  width: 600px;
  height: fit-content;
  margin: auto;
  align-items: center;
  padding: 10px;
}

/*------------------------------------------------------CAROUSEL------------------------------------------------*/

#galeria {
  align-items: center;
  max-height: fit-content;
  box-sizing: border-box
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/*Slideshow container*/
.slideshow-container {
  box-shadow: 2px 2px 2px 2px #000000;
  max-width: 800px;
  max-height: 800px;
  position: relative;
  margin: auto;

}

/*Botones Next & previous*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*Posicion boton Next a la derecha*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*Sombra en el hover*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Caption text*/
.text {
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*(1/3 etc)*/
.numbertext {
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*dots/indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/*Animacion del Fading*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*En pantallas mas chicas, decrece el textsize*/
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}