body {
	background-color: rgb(110, 19, 137);
}

header {
	background: rgb(255, 255, 255);
	width: 98.75%;
	position: fixed;
	box-shadow: 1px 1px 5px #000000;
	margin-top: 0px;
}

#menu {
	width: 1000px;
	margin: 0px;
}

#logo {
	float: left;
	width: auto;
}

nav {
	float: left;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav ul li {
	float: left;
	font-family: 'Cherry Swash', cursive;
	font-size: 25px;
	border: 15px;
}

nav ul li a {
	display: block;
	padding: 20px;
	color: rgb(110, 19, 137);
	text-decoration: none;
}

nav ul li:hover {
	background: rgb(180, 180, 180);
}

h1 {
	text-align: center;
	margin: 0px 0 40px;
	font-size: 50px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h2 {
	text-align: center;
	margin: 40px 0 40px;
	font-size: 24px;
	color: #38ffee;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 18px;
	color: #ecf0f1;
	text-shadow: 1px 1px 2px #000000;
	font-family: 'Cherry Swash', cursive;
}

.formulario {

    width: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(123, 77, 139);
    padding: 20px;
    box-shadow: 1px 1px 5px #000000;
    display: grid;
    

    
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

label {
    float: left;
    font-weight: bold;
    font-family: 'Cherry Swash', cursive;
    color: #ecf0f1;
    text-shadow: 1px 1px 2px #000000;
}

.center-button {
    text-align: center;
}

textarea {
    width: 750px;
    height: 120px;
}

button[type="submit"] {
    background-color: #dddfd3;
    color: rgb(110, 19, 137);
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Cherry Swash', cursive;
    border: #000000;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #108b16;
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}