body {
	background-color: rgb(136, 5, 114);
}

header {
	background: rgba(48, 0, 29, 0.7);
	width: 100%;
	position: fixed;
	z-index: 100;
}

.logo {
	float: left;
}

.container{
	margin-top: 15%;
}

nav {
	float: left;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav ul li {
	float: left;
	font-family: 'Cherry Swash', cursive;
	font-size: 20px;
	border: 15px;
}

nav ul li a {
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
}

nav ul li:hover {
	background: rgb(187, 92, 171);
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	font-size: 50px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 18px;
	color: #ecf0f1;
	text-shadow: 1px 1px 2px #000000;
	font-family: 'Cherry Swash', cursive;
}