body {
	background-color: rgb(110, 19, 137);
}

header {
	background: rgb(255, 255, 255);
	width: 98.75%;
	position: fixed;
	box-shadow: 1px 1px 5px #000000;
	margin-top: 0px;
}

#menu {
	width: 1000px;
	margin: auto;
}

#logo {
	float: left;
	width: auto;
}

#principal{
	margin-left: 50px;
	margin-top: 50px;
	width: 50%;
}

nav {
	float: left;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav ul li {
	float: left;
	font-family: 'Cherry Swash', cursive;
	font-size: 20px;
	border: 15px;
}

nav ul li a {
	display: block;
	padding: 20px;
	color: rgb(110, 19, 137);
	text-decoration: none;
}

nav ul li:hover {
	background: rgb(180, 180, 180);
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	font-size: 50px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h2{
	text-align: center;
	margin: 40px 0 40px;
	font-size: 24px;
	color: #38ffee;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 18px;
	color: #ecf0f1;
	text-shadow: 1px 1px 2px #000000;
	font-family: 'Cherry Swash', cursive;
}